/*:root {
    --color-0: #240e28;
    --color-1: #521a4a;
    --color-2: #240e28;
    --color-3: #d8247c;
    --color-4: white;
    --color-text: white;
}*/

/*:root {
    --color-0: #000000;
    --color-1: #340038;
    --color-2: #000260;
    --color-3: #59008b;
    --color-4: #a900a2;
    --color-text: white;
}*/

/*:root {
    --color-0: #043ea7;
    --color-1: #010a4b;
    --color-2: #2abbec;
    --color-3: #baefee;
    --color-4: #74adb1;
    --color-text: white;
}*/

:root {
    --color-0: #0038ff;
    --color-1: #bd00ff;
    --color-2: #d600ff;
    --color-3: #00b8ff;
    --color-4: #00ff9f;
    --color-text: white;
}

